/* Стилі для таблиці .transaction-history */
.transaction-history {
  width: 600px;
  height: 800px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  gap: 50px;
  margin: 0 auto;
  padding: 0;
  transform: scale(1);
}

/* Стилі для заголовка таблиці */
.transaction-history thead th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

/* Стилі для рядків з даними */
.transaction-history tbody tr {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 400;
}

/* Стилі для комірок в рядках */
.transaction-history td {
  padding: 10px;
  text-align: center;
  gap: 50px;
}

/* Додаткові стилі для парних рядків */
.transaction-history tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.title {
  margin: 20px auto;
}
.containertab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
